/*********************************************************************


                                head img


**********************************************************************/
#banner-bg {
  background: url("../../images/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
}

#one {
  background-color:rgba(3, 13, 51, 0.4);
}

#head img.img-circle {
  display: block;
  width: 140px;
  height: 170px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  border-radius: 50%;
}

